<footer class="footer">
  <small>
    <strong>Copyright © 2017</strong>
    by <em><a href="http://mike.peay.us">Michael Peay</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", "#" %></li>
    </ul>
  </nav>
</footer>